<div class="mat-display-4">Test</div>
<div class="mat-display-3">Test</div>
<div class="mat-display-2">Test</div>
<div class="mat-display-1">Test</div>

<div class="mat-headline">Test h1</div>
<div class="mat-title">Test h2</div>
<div class="mat-subheading-2">Test h3</div>
<div class="mat-subheading-1">Test h4</div>

<div class="mat-body-1">body text</div>
<div class="mat-body-2">body text</div>
<div class="mat-caption">body text</div>

<div class="mat-typography">
  <h1>test h1</h1>
  <h2>test h2</h2>
  <h3>test h3</h3>
  <h4>test h4</h4>
</div>
