<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Title
    </mat-panel-title>
    <mat-panel-description>
      Description
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>Content content content</p>
  <mat-action-row>
    <button mat-button>button</button>
  </mat-action-row>
</mat-expansion-panel>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Title
      </mat-panel-title>
      <mat-panel-description>
        Description
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Content content content</p>
    <mat-action-row>
      <button mat-button>button</button>
    </mat-action-row>
  </mat-expansion-panel>

<!--  multi=true multiple active panels, hideToggle available-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Title
      </mat-panel-title>
      <mat-panel-description>
        Description
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Content content content</p>
    <mat-action-row>
      <button mat-button>button</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
