<mat-list>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 2</mat-list-item>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>


<mat-list dense>
  <mat-list-item>Item 1</mat-list-item>
  <mat-list-item>Item 2</mat-list-item>
  <mat-list-item>Item 3</mat-list-item>
</mat-list>

<mat-list dense>
  <a mat-list-item href="/">Back</a>
  <a mat-list-item href="/typography">Typography</a>
  <a mat-list-item href="/icons">Icons</a>
  <a mat-list-item href="/progress-spinner">Spinners</a>
  <a mat-list-item href="/menu">Menu</a>
  <a mat-list-item href="/list">List</a>
</mat-list>


<mat-list>
  <mat-list-item>
    <mat-icon matListIcon>home</mat-icon>
    <h3 matLine>Heading</h3>
    <p matLine>Line</p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon matListIcon>folder</mat-icon>
    <h3 matLine>Heading</h3>
    <p matLine>Line</p>
  </mat-list-item>
</mat-list>
